.form {
  position: relative;
  display: inline-block;
  padding: 0 32px;
}

.form.is-collapsed {

}

.form__container {
  display: inline-block;
  height: 50px;
}

.form__input-container {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.form__submit {
  position: absolute;
  display: block;
  top: 0;
  right: 25px;
  z-index: 9;
  width: 50px;
  border: none;
  height: 50px;
  line-height: 42px;
  font-size: 40px;
  cursor: pointer;
  background-color: #4aa2f4;
  box-sizing: border-box;
  color: #ffffff;
  border-radius: 100px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
  transition: all 150ms ease-out;
}

.form__submit:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.26);
}

.form__input {
  width: 320px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 41px 0 16px;
  outline: none;
  border: 1px solid #4aa2f4;
  border-radius: 100px;
  transition: width 200ms ease-out;
}

.form.is-collapsed .form__input {
  padding: 0;
  width: 40px;
}
