.menu {
  height: 500px;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 0 8px 0 8px;
  transition: box-shadow 150ms ease-out;
}

.menu__item:hover {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.26);
}

.menu__item + .menu__item {
  margin-top: 16px;
}

.menu__item-text {
  display: block;
  width: 100%;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: lighter;
  padding-left: 16px;
}

.menu__item.is-done > .menu__item-text {
  text-decoration: line-through;
  color: #BDBDBD;
}

.menu__item-remove,
.menu__item-check {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  line-height: 32px;
  font-size: 18px;
  color: #EC7063;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin-left: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  transition: all 2000 ease-out;
}

.menu__item-check {
  color: #ffffff;
}

.menu__item.is-done > .menu__item-check {
  background-color: #28d8b2;
}
