.menu {

}

.menu__title-link {
    font-size: 18px;
    font-weight: bold;
}

.menu__title + .menu__container {
    margin-top: 10px;
}

.menu__container {
    padding-left: 16px;
}

.menu__item + .menu__item {
    margin-top: 10px;
}

.menu__content {
    padding-top: 10px;
}

.menu__content-item {
    padding-left: 16px;
}

.menu__content-item + .menu__content-item {
    margin-top: 10px;
}

.menu__prefix {
    font-weight: bold;
}

.menu__item-add {
    font-size: 24px;
    color: #4CAF50;
}

.menu__item-remove {
    font-size: 24px;
    color: #f44336;
}
